*

!.gitignore
!README.md

!niri/
!niri/**
!fastfetch/
!fastfetch/**
!waybar/
!waybar/**
!fuzzel/
!fuzzel/**
!mako/
!mako/**
!swaylock/
!swaylock/**
!kitty/
!kitty/**
!swayosd/
!swayosd/**
!gtk-3.0/
!gtk-3.0/**
!gtk-4.0/
!gtk-4.0/**
!scripts/
!scripts/**
!gtkrc-2.0
!brave-flags.conf