# Ignore everything by default
*

# Allow tracked files
!.gitignore
!README.md

!niri/
!niri/config.kdl
!niri/wallpapers/
!niri/wallpapers/*
!niri/scripts/
!niri/scripts/*

!ironbar/
!ironbar/config.toml
!ironbar/style.css
!ironbar/scripts/
!ironbar/scripts/*.sh

!ghostty/
!ghostty/config.ghostty

!fuzzel/
!fuzzel/fuzzel.ini
!brave-flags.conf