# Ignore everything by default
*

# Allow tracked files
!.gitignore
!README.md

!niri/
!niri/config.kdl
!niri/wallpapers/
!niri/wallpapers/*
!niri/scripts/
!niri/scripts/*

!eww/
!eww/eww.yuck
!eww/eww.css
!eww/scripts/
!eww/scripts/*.sh

!ghostty/
!ghostty/config.ghostty

!fuzzel/
!fuzzel/fuzzel.ini
!brave-flags.conf