[Unit]
Description=Idle manager for Niri
PartOf=niri.service
After=niri.service

[Service]
ExecStart=/home/mishal/.config/niri/scripts/niri_swayidle.sh
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=niri.service
