[Unit]
Description=Eww bar for Niri
PartOf=niri.service
After=niri.service

[Service]
ExecStart=/usr/bin/eww --no-daemonize daemon
ExecStartPost=/bin/sh -c 'for i in $(seq 1 50); do /usr/bin/eww ping >/dev/null 2>&1 && /usr/bin/eww close bar >/dev/null 2>&1; /usr/bin/eww ping >/dev/null 2>&1 && exec /usr/bin/eww open --id primary bar; sleep 0.1; done; exit 1'
ExecStopPost=-/usr/bin/eww close-all
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=niri.service
